/******************************************
    File Name: alignment.css
/****************************************** */

#boite{
    display: block;
    transition-duration: 2000ms;
    border-radius: 8px;
}
#boite:hover{
    background-color: #4CAF50; /* Green */
    color: white;

}


.code{
    display: flex;
    justify-content: center;
    color: black;
}

.form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
}

body {
    background-image:url(https://data2.1freewallpapers.com/download/question-marks-figures-3d.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: 2450px;
}


