/******************************************
    File Name: alignment.css
/****************************************** */

/*Ces styles ne sont là que pour la présentation*/

#boite{
    display: block;
    align-items: center;

}

#div{
    display: block;
    justify-content: center;

}
.code{
    display: flex;
    justify-content: center;
    
}
/*.plaus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
}*/

/*.form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}*/