/******************************************
    File Name: media.css
/****************************************** */

@media screen and (min-height: 394px){
    body{
        background-image:url(https://data2.1freewallpapers.com/download/question-marks-figures-3d.jpg);
  }
}
@media (max-width: 1920px){
    #boite{
        padding: 50px 50px; 
        
    }

}

@media (max-width: 380px){
    #boite{
        padding: 30px 20px;
    }
}
